---
import SectionContainer from '../SectionContainer.astro'
import Project from './Project.astro'

const PROJECTS = [
  {
    title: 'PixelFlix',
    description: 'App con la <span class="text-yellow-200">API de The Movie DB</span> para explorar películas y series, <span class="text-yellow-200">y guardar en favoritos</span>.',
    label: 'Ir al sitio web PixelFlix',
    link: 'https://px-flix.vercel.app/',
    image: '/projects/pixelflix.webp',
    tags: ['TypeScript', 'React', 'React Router', 'TanStack Query', 'Tailwind CSS'],
  },
  {
    title: 'Resourcify',
    description: 'Descubra los <span class="text-yellow-200">mejores recursos digitales gratuitos</span> para diseñadores y desarrolladores.',
    label: 'Ir al sitio web resourcify',
    link: 'https://myresourcify.vercel.app/',
    image: '/projects/resourcify.webp',
    tags: ['Astro', 'TypeScript', 'React', 'Zustand', 'Vitest'],
  },
  {
    title: 'Pruebas Técnicas',
    description: 'Explora una <span class="text-yellow-200">colección de pruebas técnicas reales</span> que he desarrollado para demostrar mis habilidades.',
    label: 'Ir al sitio web pruebas técnicas',
    link: 'https://pruebastecnicasdev.vercel.app/',
    image: 'https://pruebastecnicasdev.vercel.app/website.webp',
    tags: ['Astro', 'React', 'TypeScript', 'Tailwind CSS', 'PNPM'],
  },
  {
    title: 'Tres en raya',
    description: 'Juego de Tic Tac Toe con <span class="text-yellow-200">manejo de estado, indicador de turno</span> y localStorage.',
    label: 'Ir al sitio web tres en raya',
    link: 'https://tres-en-rayas.vercel.app/',
    image: '/projects/tres-en-raya.webp',
    tags: ['Tailwind CSS', 'Vite', 'StandardJS', 'React'],
  }
]
---

<SectionContainer id='proyectos'>
  <h2 class="text-xl font-bold">Proyectos</h2>

  <p class="text-white/80 py-6">
    Cada proyecto refleja mi esfuerzo, aprendizaje y ganas de crecer. Estoy emocionado de compartirlos contigo y mostrar el resultado de mi trabajo.
  </p>

  <ul class="grid grid-cols-auto-fit/354px justify-center gap-12">
    {
      PROJECTS.map(project => (
        <li>
          <Project {...project} />
        </li>
      ))
    }
  </ul>
</SectionContainer>