<a
  class='text-sm font-medium inline-flex items-center gap-2 px-4 py-1 border border-gray-600 rounded-full bg-gray-800 hover:bg-white hover:text-black transition-colors'
  {...Astro.props}
>
  <slot />
</a>