---
import FooterHeader from "./FooterHeader.astro"
---

<footer>
  <div class="max-w-[1024px] mx-auto px-4 pt-24 lg:pt-36">
    <FooterHeader />

    <p class="text-white/80 text-sm text-center text-pretty mt-6">
      Inspirado en
      <a
        class="underline text-blue-400 font-semibold"
        href="https://porfolio.dev/"
        target="_blank">
          porfolio.dev
      </a>
      de midudev
    </p>
  </div>
</footer>